.container_12
  .catalogs
    %header.grid_12
      %h1 Catalogs
    
      %ul
        - @catalogs.each do |catalog|
          %li
            = link_to catalog.title, catalog_path(catalog)
            = link_to "Edit", catalog_products_path(catalog)
            = link_to "Delete", catalog_path(catalog), :method => :delete, :confirm => "Are you sure?"
    
      %ul
        %li= link_to "New Catalog", new_catalog_path