.container_12
  .grid_3
    .categories
      %h3
        Categories<span class="arrow"></span>
        = link_to "Edit", edit_category_path(@catalog)
      %ul
        - @catalog.categories.each do |category|
          %li
            =category.name

  .grid_9
    .catalog
      %h1= @catalog.title
      .products