.container_12
  .grid_12
    = form_for @category, :url => catalog_categories_path do |f|
      %h1 Enter Category Name <span class="arrow"></span>
      = error_messages_for(f.object, :list_messages => false)
      = render :partial => 'form', :object => f