.container_12
  .grid_3
    .categories
      %h3
        Categories<span class="arrow"></span>
        = link_to "Edit", catalog_categories_path(@catalog)

      %ul
        - @catalog.categories.each do |category|
          %li
            =link_to category.name, catalog_category_path(@catalog,category)

  .grid_9
    .catalog
      %h1
        = @category.name

      .category

        .products
          -@category.products.each do |p|
            %div.p_listing
              =link_to image_tag(p.image.url(:thumb)), catalog_product_path(@catalog, p)
              %p=link_to p.name, catalog_product_path(@catalog, p)
              %p=p.sku
              %p=number_to_currency(p.price, :unit => "$")